In [3]:
if 0==0:
    print('Great')
elif 5==4:
    print('NO')
    
print ('This code is not belongs to if statements')

Great
This code is not belongs to if statements

In [8]:
a = 10
b = 8
c = 11
if (a==10 or b==9) and c==12: #우선순위가 and가 먼저이기때문에 참으로 나온다. () 안에 넣으면 우선순위가 바뀔 수 있음.
    print('that is true')

### Priority

NOT > AND > OR

Because priority (And) comes first, it really comes out. () inside may change priorities.

In [5]:
if not a == 10:
    print('a is ten')

In [10]:
a=[]
if 3:
    print('3323123')
elif a:
    print('231')

3323123

In [11]:
a = 10
if a%2 == 0:
    print('2')
#An error occurs when another code is entered between (if) and (else).
else:
    print('1')

2

### while

In [12]:
a= [1,3,5,7,9]

i=0
while i < len(a):
    print(a[i])
    i +=1
print('abcde')

1
3
5
7
9
abcde

In [13]:
i=0
while i < len(a):
    if a[i] % 2: #If statement 1 is true only, it will be output only if it is odd.
        print(a[i])
    i +=1

1
3
5
7
9

### Endless loops are bad habits, and avoid them as much as possible.

In [14]:
i=0
while i < len(a):
    if a[i] > 8:
        print('finish')
        break
    print(a[i])
    i +=1

1
3
5
7
finish

In [15]:
a = 7
while a > 0:
    a -= 1
    if a ==5:
        continue
    print(a)

6
4
3
2
1
0

In [16]:
num =1
_sum=0
while num<=100:
    _sum+=num
    num+=1
print(_sum)

5050

In [17]:
a = [1, 3, 5, 7, 9]
for i in a:
    print (i, i * 2)
print('Great')

1 2
3 6
5 10
7 14
9 18
Great

In [20]:
for x in 'hello world':
    print(x)

h
e
l
l
o

w
o
r
l
d

### multiplication table

In [21]:
x = [2, 3, 4, 5, 6, 7, 8, 9]
y = [1, 2, 3, 4, 5, 6, 7, 8, 9]

for i in x:
    for j in y:
        print(i, 'x', j, '=', i*j)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81